<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <logcleaner>
            <log_files>
                <enable>0</enable>
                <period>1</period>
                <custom_period></custom_period>
                <allowed_archives_count>7</allowed_archives_count>
            </log_files>
            <db_logs>
                <enable>0</enable>
                <period>1</period>
            </db_logs>
        </logcleaner>
    </default>
</config>
